.border{
    border: solid red 2px;
}


/* ##################### COLORS VAR ######################### */
:root{
    --blue:  #0157a0;
    --yelow:  #F5C10D;
    --skyBlue: #0080FF;
    --gray: #5D677F;
    --white: #FFFFFF;
}

/* ##################### COLORS FONTS ######################### */
.blue{
    color: #0157a0;
}
.yelow{
    color: #F6C10D;
}
.skyBlue{
    color: #0080FF;
}
.gray{
    color: #5D677F;
}
.white{
    color: #FFFFFF !important;
}
.transparent{
    color: transparent;
}
/* ##################### COLOR BACKGROUNS ######################### */

.bg-blue{
    background-color: #0157a0 !important;
}
.bg-yelow{
    background-color: #F6C10D;
}
.bg-skyBlue{
    background-color: #0080FF !important;
}
.bg-gray{
    background-color: #5D677F;
}
.bg-white{
    background-color: #FFFFFF;
}
.bg-transparent{
    background-color: transparent;
}
/* .section {
    padding: 3rem 2rem;
} */
.titleProp{
    line-height: 4.5rem;
}
.title-border-white {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 2px #FFFFFF;
    color: transparent; 
  }
  .title-border-blue {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 2px #0157a0;
    color: transparent; 
  }

  .title-bold-white {
    font-family: 'Poppins', sans-serif;
    color:  #FFFFFF;
    font-weight: 800; 
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  }
  .title-bold-blue {
    font-family: 'Poppins', sans-serif;
    color: #0157a0;
    font-weight: 800;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
  }

  .textLineBlue {
    background: linear-gradient(0deg, #0080FF 18px, transparent 7px) 0 1.1em;
    @media (max-width:550px){
        &{
            background: linear-gradient(0deg, #0080FF 7px, transparent 7px) 0 1.1em;  
        }
    }
    
}
.textLineYelow {
    background: linear-gradient(0deg, #F6C10D 15px, transparent 7px) 0 1.1em;
  
    @media (max-width:550px){
        &{
            background: linear-gradient(0deg, #F6C10D 7px, transparent 7px) 0 1.1em;  
        }
    }
}
.textLineBlue2 {
    background: linear-gradient(0deg, #0157a0 15px, transparent 7px) 0 1.1em;
  
    @media (max-width:550px){
        &{
            background: linear-gradient(0deg, #0157a0 7px, transparent 7px) 0 1.1em;  
        }
    }
}